
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './med.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* body{
    background-color: black;
} */
@keyframes med {
  0%{
    background: red;
    translate: 0 0;
    /* rotate: 0deg; */
    rotate: 72deg;
  }
  25%{
    background: aqua;
    translate: 0 612px;

  }
  50%{
    translate: 1280px 612px;
  

  }
  75%{
    translate: 1280px 0;

  }
  100%{
    translate: 0 0;
  
  }
}

@keyframes ping {
  from{
    translate: -500px 0;
  }
  to{
    translate: 0 0;
  }
}
@keyframes head {
  from{
    translate: 700px 0;
  }
  to{
    translate: 0 0;
  }
  
}

@keyframes pong1{
  0%{
    translate: 0 0px;
   }
    25%{
     translate: 0 412px;
     animation-duration: 2s;
    }
    50%{
      translate: 700px 412px;
    }
    75%{
      translate: 700px 0px;
    }
  
}

@keyframes pong2{
  0%{
    translate: 0 0px;
   }
    25%{
     translate: 0 412px;
     animation-duration: 2s;
    }
    50%{
      translate: 700px 412px;
    }
    75%{
      translate: 700px 0px;
    }
  
}

@keyframes pongleft {
  0%{
    top: 5%;
  }
  50% {
    top: 70%;
  }
  100%{top:5%}
 
}
@keyframes pongright {
  
  0%{
    top: 70%;
  }
  50% {
    top: 5%;
  }
  100%{top:70%}
  
}

/* @keyframes bol {
  0%{
    translate: 0 0;
  }
  
  50%{
    translate: 670px 30px;
  }
  100%{
    translate: 0 0;
  }
  
} */

@keyframes square {
  0%{
    translate:0 0;
  }
  25%{
    translate: 0 120;
  }
  /* 50%{
    translate: 50px 50px;
  } */
}



@keyframes cleft {
  0%{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }
  25%{
    background: conic-gradient(red, blue);
  }
  50%{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  }
  75%{
    background: rgb(26,110,111);
background: linear-gradient(0deg, rgba(26,110,111,1) 0%, rgba(98,242,0,1) 100%);
  }
  100%{
    background: linear-gradient(red, yellow, blue, orange);
  }
}
@keyframes cright {
  
}

@media only screen and (max-width: 600px) {
  .your-element {
    padding-top: 50%;
  }
}

@media only screen and (min-width: 601px) {
  .your-element {
    padding-top: 20%;
  }
}

.centered-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pnglft{
top: 50%;
left: 1px;
}
.pngrht{
  right: 1px;
}
@keyframes bool {
  0%{
    left:5px;
    /* translate: 5px 5px; */
  }
  25%{
    
  }


  
  /* 50%{
    left:97%;
  }
  100%{
    left: 2%;
  } */
  
}

.bgl {
  background-image: url('../image/bg.jpg');
  background-size: cover;
  /* Add any additional styles you need */
}


.Compo{
  display: none;
}
.Compo:hover{
  display: block;
}
